.breadcrumbNav {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
}

.breadcrumbList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  color: #5f6c72;
  font-size: 14px;
  font-weight: 500;
  padding-top: 3px;
}

.breadcrumbItem i {
  margin-right: 10px;
}

.link {
  color: #5f6c72;
  font-size: 14px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 8px;
  padding-top: 3px;
  color: #666; /* Cor do separador */
}

.active {
  color: #bd7b2d;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
