* {
  font-weight: 400;
}

.menu-categories .menu-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
}

.menu-categories .menu-overlay {
  color: 111;
  /* box-shadow: 1px 2px 4px 0 #0e0e0e17 inset; */
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  top: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.3); */
  /* display: none; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.menu-categories .menu-overlay .menu {
  background: white;
  margin-top: 60px;
  width: 90%;
  border: 2px solid #dddddd;
}

.menu-categories .menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid #d1d1d1;
  background-color: #ececec;
  justify-content: space-between;
}

.menu-categories .menu-top h5 {
  font-size: 17px;
  color: #04040b;
  font-weight: 500;
}

.menu-categories .menu-top button {
  color: #b66506;
  font-weight: 600;
}

.menu-categories .menu-list {
  list-style: none;
  /* text-align: center; */
}

.menu-categories .menu-list > .menu-item {
  width: 100%;
  padding: 5px 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #524f4b;
  font-weight: 500;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  cursor: pointer;
}

.menu-container {
  width: 100%;
}

.menu-list {
  list-style: none;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

@media (min-width: 750px) {
  .menu-categories {
    display: none;
  }
}

.menu-categories .menu-list > .menu-item button {
  color: #524f4b;
  background-color: transparent;
}

.menu-categories .menu-list > .menu-item:last-of-type {
  /* text-decoration: underline; */
  font-weight: 600;
  margin-bottom: 10px;
}

.menu-categories > .submenu {
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.12);
}

.menu-categories .submenu {
  list-style: none;
  padding: 10px 0;
  /* text-align: center; */
  display: block;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  /* box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.12); */
}

.menu-categories .submenu li {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.85;
  cursor: pointer;
}

.menu-categories .submenu button {
  width: 100%;
  padding: 8px 20px;
  /* padding-bottom: 10px; */
  font-size: 16px;
  color: #524f4b;
  font-weight: 500;
  opacity: 0.85;
  border-top: 2px solid #d1d1d1;
  display: flex;
}

.menu-categories button {
  background: none;
  border: none;
  /* color: #111; */
  font-size: 1rem;
  cursor: pointer;
}

.menu-categories .category-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: #b66506;
  font-weight: 600;
}

.order-review {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  margin: auto;
  font-family: Arial, sans-serif;
}

.order-review .title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.order-review .subtitle {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 15px;
}

.order-review .details,
.order-review .pricing {
  border-top: 2px solid #e6e6e6;
  padding-top: 15px;
  margin-top: 10px;
}

.order-review .row {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 0;
  font-size: 14px;
}

.order-review .pricing .row {
  flex-direction: row;
}

.order-review .pricing .row span {
  color: #04040b;
  font-weight: 400;
  font-size: 18px;
}

.order-review .label {
  font-weight: 500;
  font-size: 18px;
}

.order-review .value {
  font-weight: normal;
  font-size: 18px;
  color: #808080;
}

.order-review .track-order {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  color: #04040b;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}

.order-review .total {
  /* border-top: 1px solid #ddd; */
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 2px solid #e6e6e6;
}

.order-review .total span {
  font-size: 20px;
  font-weight: 500;
}

.order-review .buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
}

.order-review .cancel-btn,
.order-review .finish-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.order-review .cancel-btn {
  background: white;
  border: 1px solid #ccc;
  color: #333;
}

.order-review .finish-btn svg {
  margin-top: 4px;
}

.order-review .finish-btn {
  background: black;
  font-size: 14px;
  text-transform: capitalize;
  color: white;
  display: flex;
  /* align-items: ; */
  justify-content: center;
  gap: 10px;
}
