.auth {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 999;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.auth.active {
  align-items: center;
  justify-content: center;
  display: flex;
}

.auth .container {
  width: 400px;
  opacity: 1;
  position: relative;
  border-radius: 4px;
  background-color: white;
  transition: all 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.auth .container .top {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.auth .container .top button {
  font-size: 20px;
  font-weight: 400;
  height: 100%;
  color: #77878f;
  cursor: pointer;
  padding: 10px;
}

.auth .container .top button.active {
  color: #111;
  border-bottom: 3px solid #bd7b2d;
}

.auth .container .top .btnClose {
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  opacity: 0.5;
  position: absolute;
  top: -15px;
  right: 0px;
}

.auth .container .main .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.auth .container .main .row > button:hover {
  opacity: 0.85;
}

.auth .container .main .row > button {
  color: #bd7b2d;
  font-weight: 500px;
  cursor: pointer;
}

.auth .container .main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 1rem;
  position: relative;
}

.auth .container .main .subtitle {
  font-size: 18px;
  opacity: 0.9;
}

.auth .main .authInfo {
  margin-bottom: 20px;
  text-align: center;
}

.auth .main .authInfo h4 {
  font-size: 20px;
  font-weight: 600;
  color: #191c1f;
}

.auth .main .authInfo p {
  margin-top: 10px;
  font-size: 14px;
  color: #5f6c72;
}

.auth .container .field {
  display: flex;
  border-radius: 4px;
  border: 1px solid #909090;
  background-color: transparent;
  width: 100%;
  gap: 10px;
  padding: 8px 16px;
}

.auth .container .main .divisor {
  position: relative;
  font-size: 14px;
  color: #77878f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.auth .container .main .divisor::before,
.auth .container .main .divisor:after {
  position: absolute;
  content: '';
  width: 47%;
  left: 0;
  top: 50%;
  height: 0.5px;
  background: #ccc;
  opacity: 0.6;
}

.auth .container .main .divisor::after {
  left: auto;
  right: 0;
}

.auth .container .group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 5px;
}

.auth .container .labelForCheck {
  font-size: 12px;
}

.auth .container a {
  font-size: 12px;
  align-self: flex-start;
  text-decoration: underline;
  margin-bottom: 10px;
}

.auth form label {
  color: #191c1f;
  font-size: 14px;
}

.auth .container .authForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth .container .authForm input {
  height: 44px;
}

.auth .container .btn {
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #000000;
  border: 1px solid var(--primary);
  color: white;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.auth .container .btn.outlinedBtn {
  border: 1px solid #909090;
  opacity: 0.8;
  color: black;
  background-color: white;
  border-radius: 2px;
}

.auth .container .btn.colourid {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: bold;
}

.auth .container .btn.filled {
  border-radius: 0;
  color: white;
  border: 2px solid #22226e;
  background-color: #22226e;
}

.auth .container .btn:hover {
  opacity: 0.8;
}

.auth .btn .btn__center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.auth i img {
  height: 100%;
  width: 100%;
}
